body{
    font-family: "Helvetica", "Arial", Serif, serif;
    color: #333333;
    background-color: cornsilk;
    margin: 1em 10%;
}
h1{
    color: #333333;
    background-color: transparent;
}
a{
    color: #CC6600;
    background-color: transparent;
    font-weight: bold;
    text-decoration: none;
}
ul{
    padding: 0
}
li{
    float: left;
    padding: 1em;
    list-style: none;
}
p{
    font-size: x-large;
    color: darkorchid;
}