.product{
    width: 100%;
    height: auto;
    background-color: white;
    margin:0 -5px -5px 0;

}
.flex{
    display: inline-block;
}
.w1{
    padding: 10% 5%;
    width: 40%;
    height: auto;
    float: left;

}
.w4{
    padding: 10% 5%;
    width: 40%;
    height: auto;
    float: right;
}
.w4 h1{
    padding-bottom: 5%;
    color: #10398e;
    font-size: xx-large;
}

.w1 h1{
    padding-bottom: 5%;
    color: #10398e;
    font-size: xx-large;
}
.w2{
    width: 50%;
    position: relative;
}
.a3{

    display: none;
    z-index: 4;
}
.a3:hover{
     background-color: #e6e6e6;

 }

.w3{
    width: 100%;

}
/*悬浮样式*/
.w5 .a3{
    width: 160px;
    height: 35px;
    text-align: center;
    color: #10398e;
    background-color: white;
    padding-top: 12px;
    position: absolute;
    top:37%;
    right: 37%;
    display: block;

}
.w5  .w3{
    opacity:0.7;
}
